<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection</title>
</head>
<body>

<h2>Emotion Detection App</h2>

<input type="text" id="text">
<button onclick="analyze()">Analyze</button>

<p id="result"></p>

<script>
function analyze() {
    let text = document.getElementById("text").value;

    fetch("/emotionDetector?textToAnalyze=" + text)
    .then(response => response.text())
    .then(data => {
        document.getElementById("result").innerText = data;
    });
}
</script>

</body>
</html>